#root {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.multiline {
  white-space: pre-wrap;
}

.bold {
    font-weight: bold !important;
}

.hidden {
    display: none;
}

.list-center {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.article {
    text-decoration: none;
    color: #16103F;
    font-family: Arial,Helvetica,sans-serif;
}

.article-image {
    max-width:100%;
    max-height:100%;
}

.article-card {
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: 20px;
    display: block;
    visibility: visible;
}

.default-font {
    font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: rgba(0,0,0,.84);
    font-size: 20px;
    line-height: 1.4;
}

.article-frame {
    padding-top: 5px;
    padding-bottom: 0;
    position: relative;
    display: block;
    visibility: visible;
}

.article-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    margin-left: -1.88px;
    line-height: 1.04;
    letter-spacing: -.015em;
    font-weight: 600;
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

.space-top {
    margin-top: 20px !important;
}

.space-bottom {
    margin-bottom: 20px !important;
}

.main-text {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: -.004em;
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.header {
    position: relative;
    display: table;
    width: 100%;
    table-layout: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/banner.jpg);
    height: 300px;
    background-size: 100%;
    vertical-align: middle;
}

.header-content {
    display: table-cell;
    vertical-align: middle;
    padding-left: 40px;
}

.header-title {
    padding-bottom: 10px;
    font-size: 46px;
    line-height: 1.1;
    color: #FFFFFF;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    bkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.header-subtitle {
    font-weight: normal;
    color: #FFFFFF;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    bkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.error {
    width: 100%;
    background-image: url(../img/error.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-on-screen {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.center-text {
    text-align: center;
}

.spinner {
    width: 200px;
}

.news-icons-list {
    text-align: right;
}

.news-icon {
    width: 30px; padding: 10px;
}

.form-full-width {
    width: 640px;
}

.input-text-comment {
  z-index: auto;
  position: relative;
  line-height: 18.4px;
  font-size: 16px;
  transition: none;
  background: transparent !important;
}

/* FAB */

.fab {
  bottom: 0;
  position: fixed;
  width: 56px;
  margin: 1em;
  right: 0px;
}

.fab:hover .fab-buttons {
  opacity: 1;
  visibility: visible;
}

.fab:hover .fab-buttons__link {
  transform: scaleY(1) scaleX(1) translateY(-16px) translateX(0px);
}

.fab-action-button:hover + .fab-buttons .fab-buttons__link:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
  transition-delay: 0.3s;
}

.fab-action-button {
  position: absolute;
  bottom: 0;
  display: block;
  width: 56px;
  height: 56px;
  background-color: #29B6F6;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.fab-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.fab-action-button__icon {
  display: inline-block;
  width: 56px;
  height: 56px;
  background: url("../img/add_icon.png") center no-repeat;
  background-size: 45px 45px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.fab-buttons__item {
  display: block;
  text-align: center;
  margin: 12px 0;
}

.fab-buttons__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px);
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

[data-tooltip]:before {
  top: 50%;
  margin-top: -11px;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  text-decoration: none;
  visibility: hidden;
  opacity: 0;
  padding: 4px 7px;
  margin-right: 12px;
  position: absolute;
  transform: scale(0);
  right: 100%;
  white-space: nowrap;
  transform-origin: top right;
  transition: all .3s cubic-bezier(.25, .8, .25, 1);
}

[data-tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
}

.icon-material {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.icon-material_plus {
  background: url("../img/add_icon.png") center no-repeat;
  background-size: 30px 30px;
}

.icon-material_article_plus {
  background: url("../img/add_article_icon.png") center no-repeat;
  background-size: 30px 30px;
}

.icon-material_talk {
  background: url("../img/talk_icon.png") center no-repeat;
  background-size: 25px 25px;
}

select {
    padding: 13px;
    margin: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 14px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color: #888;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}