/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
		display: block;
}

blockquote, q {
		quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
		content: '';
		content: none;
}

table {
		border-lapse: collapse;
		border-spacing: 0;
}

* {
   	box-sizing: border:box;
}

#root {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

body {
	  font-family: "Segoe UI", "Open Sans", Roboto, sans-serif;
	  font-size: 18px;
	  line-height: 1.3;
	  font-weight: 400;
	  color: #404040;
	  background-color: #e7ecef;
}

h1 {
	  color: #137cb9;
	  font-size: 50px;
	  margin-bottom: 20px;
}

a {
    color: #137cb9;
}

.multiline {
  white-space: pre-wrap;
}

.bold {
    font-weight: bold !important;
}

.hidden {
    display: none;
}

.list-center {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.article {
    text-decoration: none;
    color: #16103F;
    font-family: "Segoe UI", "Open Sans", Roboto, sans-serif;
}

.article-image {
    max-width:100%;
    max-height:100%;
}

.article-card {
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: 20px;
    display: block;
    visibility: visible;
}

.default-font {
    font-family: "Segoe UI", "Open Sans", Roboto, sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    font-size: 18px;
    line-height: 1.3;
    color: #404040;
}

.article-frame {
    padding-top: 5px;
    padding-bottom: 0;
    position: relative;
    display: block;
    visibility: visible;
}

.article-title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 30px;
    margin-left: -1.88px;
    line-height: 1.04;
    letter-spacing: -.015em;
    font-weight: 600;
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    font-family: "Segoe UI", "Open Sans", Roboto, sans-serif;
    color: #137cb9;
}

.space-top {
    margin-top: 20px !important;
}

.space-bottom {
    margin-bottom: 20px !important;
}

.main-text {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: -.004em;
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: "Segoe UI", "Open Sans", Roboto, sans-serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.author a {
    color: #137cb9;
}

.padding-bottom {
    padding-bottom: 15px;
}

.header {
    position: relative;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/mountains.jpeg);
    height: 400px;
    background-size: 100%;
}

@media screen and (max-width: 850px) {
  .header {background-size: 150%;}
  }

@media screen and (max-width: 600px) {
  .header {background-size: 200%;}
  }

@media screen and (max-width: 440px) {
  .header {background-size: 250%;}
  }

.header .navigation-bar {
	  background-color: white;
	  height: 70px;
	  position: relative;
	  z-index: 1;
}

.logo-container {
	  padding-left: 50px;
	  float: left;
	  height: 70px;
}

.bookmarks {
	  float: right;
	  overflow: hidden;
	  padding-left: 10px;
	  padding-right: 50px;
	  font-size: 16px;
      font-weight: 600;
      margin-top: 25px;
}

.inline {
  	display: inline;
}
.pointer {
  	cursor: pointer;
}

.nav-link {
	  color: #137cb9;
	  text-decoration: none;
	  padding: 20px;
}

.navigation-bar a:hover {
  	color: #f47421;
}

.bookmarks .menu-icon {
  	display: none;
}

.menu-icon {
  	color: #137cb9;
}

@media screen and (max-width: 750px) {

	.bookmarks a {display: none;}
	.bookmarks a.menu-icon {
			float: right;
			display: block;
	}

	.bookmarks.responsive {
			position: relative;
			background-color: white;
			border-bottom-left-radius: 10%;
			padding: 0px 0px 15px 0px;
	}

	.bookmarks.responsive .menu-icon {
			position: absolute;
			right: 50px;
			top: 0;
	}

	.bookmarks.responsive a {
			float: none;
			display: block;
			text-align: left;
	}

	.first-bookmark {
			margin-top: 40px;
	}

	.nav-link {
			font-size: 12px;
			padding-bottom: 0px;
	}
}

@media screen and (max-width: 480px) {
  .logo-container { padding-left: 10px;}
  .bookmarks { padding-right: 20px}
  .bookmarks.responsive .menu-icon { right: 20px; }
}

.banner {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  top: 0px;
	  right: 0px;
	  width: 100%;
	  height: 100%;
}

.banner h1 {
	  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.80);
	  color: white;
	  font-size: 72px;
	  text-align: center;
	  margin-top: 70px;
	  margin-bottom: 15px;
	  line-height: 1;
}


.banner h3 {
	  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.80);
	  color: white;
	  font-size: 37px;
	  text-align: center;
}

@media screen and (max-width: 750px) {

	.banner h1 {
    		font-size: 60px;
  	}

  	.banner h3 {
    		font-size: 30px;
  	}
}

@media screen and (max-width: 600px) {

  .banner h1 {
    	font-size: 48px;
  }

  .banner h3 {
    	font-size: 23px;
  }
}

@media screen and (max-width: 480px) {
  .banner h1 {
    	font-size: 40px;
  }

  .banner h3 {
    	font-size: 20px;
  }
}

.error {
    width: 100%;
    background-image: url(../img/error.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Segoe UI", "Open Sans", Roboto, sans-serif;
}

.center-on-screen {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.center-text {
    text-align: center;
}

.spinner {
    width: 200px;
}

.news-icons-list {
    text-align: right;
    margin-top: 10px;
}

.news-icon {
    width: 30px; padding: 10px;
}

.form-full-width {
    width: 640px;
}

.input-text-comment {
  z-index: auto;
  position: relative;
  line-height: 18.4px;
  font-size: 16px;
  transition: none;
  background: transparent !important;
}

/* FAB */

.fab {
  bottom: 0;
  position: fixed;
  width: 56px;
  margin: 1em;
  right: 0px;
}

.fab:hover .fab-buttons {
  opacity: 1;
  visibility: visible;
}

.fab:hover .fab-buttons__link {
  transform: scaleY(1) scaleX(1) translateY(-16px) translateX(0px);
}

.fab-action-button:hover + .fab-buttons .fab-buttons__link:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
  transition-delay: 0.3s;
}

.fab-action-button {
  position: absolute;
  bottom: 0;
  display: block;
  width: 56px;
  height: 56px;
  background-color: #f47421;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.fab-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.fab-action-button__icon {
  display: inline-block;
  width: 56px;
  height: 56px;
  background: url("../img/add_icon.png") center no-repeat;
  background-size: 45px 45px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.fab-buttons__item {
  display: block;
  text-align: center;
  margin: 12px 0;
}

.fab-buttons__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px);
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

[data-tooltip]:before {
  top: 50%;
  margin-top: -11px;
  font-weight: 600;
  border-radius: 2px;
  background: #137cb9;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  font-family: "Segoe UI", "Open Sans", Roboto, sans-serif;
  text-decoration: none;
  visibility: hidden;
  opacity: 0;
  padding: 4px 7px;
  margin-right: 12px;
  position: absolute;
  transform: scale(0);
  right: 100%;
  white-space: nowrap;
  transform-origin: top right;
  transition: all .3s cubic-bezier(.25, .8, .25, 1);
}

[data-tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
}

.icon-material {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.icon-material_plus {
  background: url("../img/add_icon.png") center no-repeat;
  background-size: 30px 30px;
}

.icon-material_article_plus {
  background: url("../img/add_article_icon.png") center no-repeat;
  background-size: 30px 30px;
}

.icon-material_talk {
  background: url("../img/talk_icon.png") center no-repeat;
  background-size: 25px 25px;
}

select {
    padding: 13px;
    margin: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 14px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color: #888;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}