#root {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.list-center {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.news {
    text-decoration: none;
    color: #16103F;
    font-family: Arial,Helvetica,sans-serif;
}

.news-image {
    max-width:100%;
    max-height:100%;
}

.news-card {
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: 20px;
    display: block;
    visibility: visible;
}

.default-font {
    font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: rgba(0,0,0,.84);
    font-size: 20px;
    line-height: 1.4;
}

.news-frame {
    padding-top: 5px;
    padding-bottom: 0;
    position: relative;
    display: block;
    visibility: visible;
}

.news-title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 30px;
    margin-left: -1.88px;
    line-height: 1.04;
    letter-spacing: -.015em;
    font-weight: 600;
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

.news-subtitle {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: -.004em;
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.header {
    position: relative;
    display: table;
    width: 100%;
    table-layout: fixed;
    background-image: url(../img/banner.jpg);
    height: 300px;
    background-size: 100%;
    vertical-align: middle;
}

.header-content {
    display: table-cell;
    vertical-align: middle;
    padding-left: 40px;
}

.header-title {
    padding-bottom: 10px;
    font-size: 46px;
    line-height: 1.1;
    color: #137cb9;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    bkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.header-subtitle {
    font-weight: normal;
    color: #137cb9;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    bkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.error {
    width: 100%;
    background-image: url(../img/error.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-on-screen {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.center-text {
    text-align: center;
}

.spinner {
    width: 200px;
}

.news-icons-list {
    text-align: right;
}

.news-icon {
    width: 30px; padding: 10px;
}

.form-full-width {
    width: 640px;
}

.input-text-comment {
  z-index: auto;
  position: relative;
  line-height: 18.4px;
  font-size: 16px;
  transition: none;
  background: transparent !important;
}

/* FAB */

.fab {
  bottom: 0;
  position: fixed;
  margin: 1em;
  right: 0px;
}

.fab-buttons {
  background: #3F51B5;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18),
              0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;
  margin: 20px auto 0;
  position: relative;
  -webkit-transition: all .1s ease-out;
          transition: all .1s ease-out;
}

.fab-buttons:active,
.fab-buttons:focus,
.fab-buttons:hover {
  box-shadow: 0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
}

.fab-buttons:not(:last-child) {
  width: 40px;
  height: 40px;
  margin: 20px auto 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

.fab:hover
.fab-buttons:not(:last-child) {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  margin: 15px auto 0;
}

.fab-dialog-icon-center {
    width: 30px;
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}