build
.gradle
.idea/*
out
*.iml
.directory
node_modules
local.properties
/backend/static/*
keystore.jks
android/mobile/release/*
crashlytics_release_notes.txt

.DS_Store
.externalNativeBuild
.database
