<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.kotlinacademy.wear">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.wearable.READ_SETTINGS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/portal_name"
        tools:replace="android:label"
        android:roundIcon="@drawable/launcher_circle_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name="org.kotlinacademy.wear.view.news.BannerWearActivity"
            android:label="@string/portal_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.kotlinacademy.wear.view.news.NewsWearActivity" />
        <activity android:name="org.kotlinacademy.wear.view.feedback.FeedbackActivity" />
    </application>

</manifest>