<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="academy.kot.portal.mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        tools:replace="android:label"
        android:label="@string/portal_name"
        android:roundIcon="@drawable/launcher_circle_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.news.NewsActivity"
            android:label="@string/portal_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="kotlin-academy.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".view.feedback.FeedbackActivity" />
        <service android:name=".view.notifications.FirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c555ece38e8389936dcacd18283fcd3c63f8d82d" />
    </application>

</manifest>